.jyzkdiv{
	width: 100%;
	border: 1px solid black;
	margin-left: -0.6em;
	margin-top: -1em;
}
.hright{
	font-size: 1.0em;
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	background: #513F33;
}
/*刷新*/
.namew{
	
	border: 1px solid black;
	margin: 0.2em 0px 0px 1em;
	height: 1.3em;
	width: 1.3em;
}
.sxiimg{
	height: 1.3em;
	width: 1.3em;
	/*border: 1px solid black;*/
}
.rtttable{
	padding-right: 1em;
	/*border: 1px solid red;*/
	width: 100%;
}
.titlename{
	color: #FFFFFF;
	font-size: 1.2em;
	text-align: right;
}
/*交易状况表格*/
.jyzkt{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}
.jyzkt td{
	text-align: center;
	border: 1px solid black;
}